<div id="home">
    <div id="home-get-touch">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-1">
        <h3>Cost for your home renovation project</h3>
        <p>Get started today and complete our form to request your free estimate</p>
      </div>
      <div class="col-xs-12 col-md-4 text-center"><a href="#contact" class="btn btn-custom btn-lg page-scroll">Free Estimate</a></div>
    </div>
  </div>
</div>
    <div id="home-services">
        <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">Full support</h2>
                <ul class="features-list">
                    <li class="features__item">
                        <div class="icon">
                            <i class="fas fa-pencil-ruler"></i>
                        </div>
                        <span class="features__text">Assessment of real estate</span>
                    </li>
                    <li class="features__item">
                        <div class="icon">
                            <i class="far fa-calendar-alt"></i>
                        </div>
                        <span class="features__text">To rent out</span>
                    </li>
                    <li class="features__item">
                        <div class="icon">
                            <i class="fas fa-user-alt"></i>
                        </div>
                        <span class="features__text">Your personal realtor</span>
                    </li>
                    <li class="features__item">
                        <div class="icon">
                            <i class="fas fa-key"></i>
                        </div>
                        <span class="features__text">To sell out</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    <div id="map-home">

    </div>
</div>