<div id="home">
    <div id="home-get-touch">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-1">
        <h3>Cost for your home renovation project</h3>
        <p>Get started today and complete our form to request your free estimate</p>
      </div>
      <div class="col-xs-12 col-md-4 text-center"><a href="#contact" class="btn btn-custom btn-lg page-scroll">Free Estimate</a></div>
    </div>
  </div>
</div>
    <div id="home-services">
        <div class="container">
        <div class="row">
            <div class="col-12">
                {{!-- <h1>Welcome</h1> --}}



<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia incidunt sint reiciendis, at quidem eaque officia
    nisi voluptates, ducimus quod debitis repudiandae voluptate, nulla earum! A tempore quidem beatae sapiente.</p>
            </div>
        </div>
    </div>
    </div>
    <div id="map-home">

    </div>
</div>