<div id="register">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="section-title">
                    <h2>Register user</h2>
                </div>
                <div class="form-group">
                    <label for="tb-username">Username: </label>
                    <input type="text" id="tb-username" class="form-control" name="name" value="">
                </div>
                <div class="form-group">
                    <label for="tb-password">Password: </label>
                    <input type="password" id="tb-password" class="form-control" name="name" value="">
                </div>
                <button class="btn btn-danger" id="btn-register">Register</button>
                <a href="#/login/" class="btn btn-primary">I already have an account</a>
            </div>
        </div>
    </div>
</div>

