<h1>Register user</h1>
<div class="form-group">
    <label for="tb-username">Username: </label>
    <input type="text" id="tb-username" class="form-control" name="name" value="">
</div>
<div class="form-group">
    <label for="tb-password">Password: </label>
    <input type="password" id="tb-password" class="form-control" name="name" value="">
</div>
<button class="btn btn-danger" id="btn-register">Register</button>
<button class="btn btn-danger" id="btn-login">Login</button>