<div id="reviews">
  <div class="container">
    <div class="section-title">
      <h2>Reviews</h2>
    </div>
    <form>
    <div class="form-group">
      <label for="rewiewsSearchInput">Example label</label>
      <input type="text" class="form-control" id="rewiewsSearchInput" placeholder="Example input">
    </div>
  </form>
    <div class="row" id="reviews-list">
    </div>
  </div>
</div>

<script>
    $(document).ready(function () {
    // get Data Reviews
    $.ajax({
      url: "data/data.json"
    }).done(function (data) {
      var source = document.getElementById("reviews-template").innerHTML;
      var template = Handlebars.compile(source);
      var html = template(data);
      $("#reviews-list").append(html);
    });
    });
</script>

<script>

  function unique(arr) {
  var obj = {};

  for (var i = 0; i < arr.length; i++) {
    var str = arr[i];
    obj[str] = true; // remember the string as the property of the object
  }

  return Object.keys(obj); // or collect bulk checking keys for IE8-
}

    $(document).ready(function () {
    // get Data Services
    $.ajax({
      url: "data/data.json"
    }).done(function (data) {
      var res = new JefNode(data).filter(function(node) {
            if (node.parent && node.parent.key==='reviews') {
                  return node.value.autor;
                }
        });
        var uniqueRes = unique(res);
        $('#rewiewsSearchInput').autocomplete({
        source: uniqueRes
      });
    
    });
    $('#rewiewsSearchInput').keyup(function(){
      var $lelectVal = $('#rewiewsSearchInput').val().toLowerCase();
      var $item = $('#reviews-list .item');
        for (var i=0; i<$item.length; i++) {
        var $itemVal = $item.eq(i).attr('aria-autor').toLowerCase();
        if ($itemVal.indexOf($lelectVal) > -1) {
          $('#reviews-list .item').eq(i).show();
        } else {
          $('#reviews-list .item').eq(i).hide();
        }
      }
    });
    });

</script>